{% extends '../base.html.twig' %}

{% block title %} De rijke schooldag{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="row">
            <div class="col-md-2 col-12">
                <form method="get" action="">
                    {{ form_rest(form) }}
                    <input type="submit" name="submit-filter" class="btn button-submit" value="Zoeken" />
                    <a type="button" href="{{ path('app_activities') }}" class="btn button-orange">Reset</a>
                </form>
            </div>
            <div class="col-md-10 col-12">
                {% for activity in activities %}
                <div class="col-12 col-md-6 border-orange p-2">
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid" alt="thumbnail" src="{{ asset('uploads/images/') }}{{ activity.image }}"/>
                        </div>
                        <div class="col-9">
                            <div class="col-12">
                                <h4>{{ activity.name }}</h4>
                            </div>
                            <div class="col-12 my-1">
                                {{ activity.description }}
                            </div>
                            <div class="col-12 my-1">
                                Groep: {{ activity.targetGroup }}
                            </div>
                            <div class="col-12 my-1">
                                Locatie: {{ activity.location }}
                            </div>
                            <div class="col-12 my-1">
                                Prijs:
                                {% if activity.price == not 0%}
                                    activity.price|format_currency('EUR')
                                {% else %}
                                    Gratis
                                {% endif %}
                            </div>
                            <a class="btn button-submit" href="">Inschrijven</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
