{% extends 'base.html.twig' %}

{% block title %}De rijke schooldag{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container py-4" data-controller="UserChildren">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 col-xl-10 mx-auto">
                <h2 class="h3 mb-4 page-title">Instellingen</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{{ path('app_user_settings') }}" role="tab" aria-controls="profile" aria-selected="false">Profiel</a>
                        </li>
                        <li class="nav-item ms-1">
                            <a class="nav-link active" id="children-tab" data-toggle="tab" href="{{ path('app_user_children') }}" role="tab" aria-controls="children" aria-selected="false">Kinderen</a>
                        </li>
                        <li class="nav-item ms-1">
                            <a class="nav-link active" id="children-tab" data-toggle="tab" href="{{ path('app_user_signups') }}" role="tab" aria-controls="signups" aria-selected="false">Aanmeldingen</a>
                        </li>
                    </ul>
                    <form method="post" action="" id="childrenForm">
                        <table id="childrenTable" class="my-2 table">
                            <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Klas</th>
                                <th>Leeftijd</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody data-userchildren-target="childrenContainer">
                                <tr data-userchildren-target="prototype" style="display: none;">
                                    <td>{{ form_widget(form.children.vars.prototype.name, {'attr': {'class': 'form-control'}}) }}</td>
                                    <td>{{ form_widget(form.children.vars.prototype.class, {'attr': {'class': 'form-control'}}) }}</td>
                                    <td>{{ form_widget(form.children.vars.prototype.age, {'attr': {'class': 'form-control'}}) }}</td>
                                    <td><button type="button" class="btn button-orange ms-1" data-action="UserChildren#remove">Verwijderen</button></td>
                                </tr>
                            {% for childForm in form.children %}
                                <tr>
                                    <td>{{ form_widget(childForm.name, {'label': false}) }}</td>
                                    <td>{{ form_widget(childForm.class, {'label': false}) }}</td>
                                    <td>{{ form_widget(childForm.age, {'label': false}) }}</td>
                                    <td><button type="button" class="btn button-orange ms-1" data-action="UserChildren#remove">Verwijderen</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <button type="button" class="btn button-orange" data-action="UserChildren#add">Kind toevoegen</button>
                        <input type="submit" class="btn button-submit" data-action="UserChildren#submit" value="Opslaan"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}