{% extends 'base.html.twig' %}

{% block title %}De rijke schooldag{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container py-4" data-controller="UserChildren">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 col-xl-10 mx-auto">
                <h2 class="h3 mb-4 page-title">Instellingen</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{{ path('app_user_settings') }}" role="tab" aria-controls="profile" aria-selected="false">Profiel</a>
                        </li>
                        <li class="nav-item ms-1">
                            <a class="nav-link active" id="children-tab" data-toggle="tab" href="{{ path('app_user_children') }}" role="tab" aria-controls="children" aria-selected="false">Kinderen</a>
                        </li>
                        <li class="nav-item ms-1">
                            <a class="nav-link active" id="children-tab" data-toggle="tab" href="{{ path('app_user_signups') }}" role="tab" aria-controls="signups" aria-selected="false">Aanmeldingen</a>
                        </li>
                    </ul>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Activiteit</th>
                            <th>Datum</th>
                            <th>Kind</th>
                            <th>Aangemeld op</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in signups %}
                            {% for activitydate in activity%}
                                {% for signup in activitydate %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app_activities') }}?highlight={{ signup.activityDate.activity.id }}">
                                                {{ signup.activityDate.activity.name }} - {{ signup.activityDate.name }}
                                            </a>
                                        </td>
                                        <td>{{ signup.activityDate.date|date('l F d Y - H:i') }}</td>
                                        <td>{{ signup.child.name }}</td>
                                        <td>{{ signup.signedUpAt|date('Y-m-d H:i') }}</td>
                                        <td>
                                            <a href="{{ path('activity_cancel', {'id': signup.id}) }}" class="btn btn-danger">Afmelden</a>
                                        </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}